{% extends 'base.html' %}
{%block content %}

<div class="col-md-6 offset-md-3">

{% if user.is_authenticated %}

<div class="header-container">
    <h1>Cities</h1>
    {% if user.is_superuser %}
    <a href="{% url 'add_city' %}" class="btn btn-primary add-record-btn">
        <i class="fas fa-plus"></i> Add City
    </a>
    {% endif %}
</div>

<table class="table table-striped table-hover table-bordered border-secondary">
    <thead class="table-primary">
        <tr>
            <th scope="col">City Airport Code</th>
            <th scope="col">City Name</th>
        </tr>
    </thead>
    <tbody>
        {% if cities %}
            {% for city in cities %}
                <tr>
                    <td><a href="{% url 'view_city' city.CITYCODE %}">{{ city.CITYCODE }}</a></td>
                    <td>{{ city.CITYNAME }}</td>
                </tr>   
            {%endfor%}
        {% endif %}
    </tbody>
</table>

{% else %}
<div>Log In!</div>

{% endif %}

</div>


{% endblock %}