{% extends 'base.html' %}
{% block content %}

<div class="card">
    <h5 class="card-header">Flight Number {{ flight.FLIGHTNUM }} </h5>
    <div class="card-body">
        <p class="list-group-item"><h5>Origin: </h5>{{ flight.ORIGINCITYCODE.CITYCODE }}</p>
        <p class="list-group-item"><h5>Destination: </h5>{{ flight.DESTCITYCODE.CITYCODE }}</p>
        <p class="list-group-item"><h5>Departure Time: </h5>{{ flight.DEPTIME }}</p>
        <p class="list-group-item"><h5>Arrival Time: </h5>{{ flight.ARRTIME }}</p>
        <p class="list-group-item"><h5>Pilot: </h5><a href="{% url 'view_pilot' flight.PILOTNUM.PILOTNUM %}">{{ flight.PILOTNUM.PILOTNUM }}  {{ flight.PILOTNUM.EMPNUM.NAME }}  {{ flight.PILOTNUM.EMPNUM.SURNAME }} </a></p>
        <p class="list-group-item"><h5>Plane: </h5><a href="{% url 'view_plane' flight.PLANENUM.SERIALNUM %}">{{ flight.PLANENUM.SERIALNUM }}  {{ flight.PLANENUM.MANUFACTURER }}  {{ flight.PLANENUM.MODEL }}</a></p>
        {% if crew %}
        <h5>Crew:</h5>
        <ul>
            {% for crew_member in crew %}
                <li><a href="{% url 'view_staff_member' crew_member.EMPNUM.EMPNUM %}">{{ crew_member.EMPNUM.EMPNUM }} {{ crew_member.EMPNUM.NAME }} {{ crew_member.EMPNUM.SURNAME }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if passengers %}
        <h5>Passengers:</h5>
        <ul>
            {% for passenger in passengers %}
                <li><a href="{% url 'view_passenger' passenger.PASSENGERNUM.PASSENGERNUM %}">{{ passenger.PASSENGERNUM.PASSENGERNUM }} {{ passenger.PASSENGERNUM.NAME }} {{ passenger.PASSENGERNUM.SURNAME }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <a onclick="history.back()" class="btn btn-secondary">Back</a>
        {% if user.is_superuser %}
        <a href="{% url 'delete_flight' flight.FLIGHTNUM %}" class="btn btn-danger">Delete</a>
        {% endif %}
    </div>
</div>

{% endblock %}