{% extends 'base.html' %}
{% block content %}

<div class="card">
    <h5 class="card-header">Flight Number {{ flight.FLIGHTNUM }} </h5>
    <div class="card-body">
        <p class="list-group-item"><strong>Origin: </strong>{{ flight.ORIGINCITYCODE.CITYCODE }}</p>
        <p class="list-group-item"><strong>Destination: </strong>{{ flight.DESTCITYCODE.CITYCODE }}</p>
        <p class="list-group-item"><strong>Departure Time: </strong>{{ flight.DEPTIME }}</p>
        <p class="list-group-item"><strong>Arrival Time: </strong>{{ flight.ARRTIME }}</p>
        <p class="list-group-item"><strong>Pilot: </strong><a href="{% url 'view_pilot' flight.PILOTNUM.PILOTNUM %}">{{ flight.PILOTNUM.PILOTNUM }}</a></p>
        <p class="list-group-item"><strong>Plane: </strong><a href="{% url 'view_plane' flight.PLANENUM.SERIALNUM %}">{{ flight.PLANENUM.SERIALNUM }}</a></p>
        {% if passengers %}
        <h5>Passengers:</h5>
        <ul>
            {% for passenger in passengers %}
                <li><a href="{% url 'view_passenger' passenger.PASSENGERNUM.PASSENGERNUM %}">{{ passenger.PASSENGERNUM.NAME }} {{ passenger.PASSENGERNUM.SURNAME }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if crew %}
        <h5>Crew:</h5>
        <ul>
            {% for crew_member in crew %}
                <li><a href="{% url 'view_staff_members' crew_member.EMPNUM.EMPNUM %}">{{ crew_member.EMPNUM.NAME }} {{ crew_member.EMPNUM.SURNAME }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        
        <a onclick="history.back()" class="btn btn-secondary">Back</a>
        <a href="{% url 'delete_flight' flight.FLIGHTNUM %}" class="btn btn-danger">Delete</a>
    </div>
</div>

{% endblock %}