<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Airline Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'view_planes' %}">Planes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_pilots' %}">Pilots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_staff' %}">Staff</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_cities' %}">Cities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'view_passengers' %}">Passengers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'view_passenger_bookings' %}">Bookings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_flight' %}">Add City</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_flight' %}">Add Crew</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_flight' %}">Add Flight</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_flight' %}">Add Passenger Address</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_flight' %}">Add Passenger Booking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_flight' %}">Add Passenger Phone</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_flight' %}">Add Passenger</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_pilot_typerating' %}">Add Pilot Type Rating</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_pilot' %}">Add Pilot</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_plane' %}">Add Plane</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_staff_address' %}">Add Staff Address</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_staff_member' %}">Add Staff Member</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_staff_phone' %}">Add Staff Phone</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_stretch' %}">Add Stretch</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Login</a>
            </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>