{% extends 'base.html' %}
{% block content %}

<div class="card">
    <h5 class="card-header">Passenger Number {{ passenger.PASSENGERNUM }} </h5>
    <div class="card-body">
        <p class="list-group-item"><strong>Name: </strong>{{ passenger.NAME }}</p>
        <p class="list-group-item"><strong>Surname: </strong>{{ passenger.SURNAME }}</p>
        {% if addresses %}
        <h5>Addresses:</h5>
        <ul>
            <table class="table table-hover table-sm">
                <tbody>
                    {% for address in addresses %}
                    <tr>
                        <td>{{ address.ADDRESSDETAILS }}</td>
                        {% if user.is_superuser %}
                        <td><a href="{% url 'delete_passenger_address' address.PASSENGERNUM.PASSENGERNUM address.ADDRESSDETAILS %}"
                                class="btn btn-danger">Delete</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if user.is_superuser %}
            <a href="{% url 'add_passenger_address' passenger.PASSENGERNUM %}" class="btn btn-outline-success btn-sm">
                Add Address
            </a>
            {% endif %}
        </ul>
        <h5>Phones:</h5>
        <ul>
            <table class="table table-hover table-sm">
                <tbody>
                    {% for phone in phones %}
                    <tr>
                        <td>{{ phone.PHONE }}</td>
                        {% if user.is_superuser %}
                        <td><a href="{% url 'delete_passenger_phone' phone.PHONE %}" class="btn btn-danger">Delete</a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if user.is_superuser %}
            <a href="{% url 'add_passenger_phone' passenger.PASSENGERNUM %}" class="btn btn-outline-success btn-sm">
                Add Phone
            </a>
            {% endif %}
        </ul>
        {% endif %}
        {% if bookings %}
        <h5>Bookings:</h5>
        <table class="table table-striped table-hover table-bordered border-secondary">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Flight Number</th>
                    <th scope="col">Origin</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Departure Time</th>
                    <th scope="col">Arrival Time</th>
                    <th scope="col">Pilot</th>
                    <th scope="col">Plane ID</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td><a href="{% url 'view_flight' booking.FLIGHTNUM.FLIGHTNUM %}">
                            {{ booking.FLIGHTNUM.FLIGHTNUM}}</a></td>
                    <td><a href="{% url 'view_city' booking.FLIGHTNUM.ORIGINCITYCODE.CITYCODE %}">
                            {{ booking.FLIGHTNUM.ORIGINCITYCODE.CITYCODE }}</a></td>
                    <td><a href="{% url 'view_city' booking.FLIGHTNUM.DESTCITYCODE.CITYCODE %}">
                            {{ booking.FLIGHTNUM.DESTCITYCODE.CITYCODE }}</a></td>
                    <td>{{ booking.FLIGHTNUM.DEPTIME }}</td>
                    <td>{{ booking.FLIGHTNUM.ARRTIME }}</td>
                    <td><a href="{% url 'view_pilot' booking.FLIGHTNUM.PILOTNUM.PILOTNUM %}">
                            {{ booking.FLIGHTNUM.PILOTNUM.PILOTNUM }}</a></td>
                    <td><a href="{% url 'view_plane' booking.FLIGHTNUM.PLANENUM.SERIALNUM %}">
                            {{ booking.FLIGHTNUM.PLANENUM.SERIALNUM }}</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {% endif %}
        <a onclick="history.back()" class="btn btn-secondary">Back</a>
        {% if user.is_superuser %}
        <a href="{% url 'delete_passenger' passenger.PASSENGERNUM %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'update_passenger' passenger.PASSENGERNUM %}" class="btn btn-primary">Update</a>
        {% endif %}
    </div>
</div>

{% endblock %}