{% extends 'base.html' %}
{% block content %}

<div class="card">
    <h5 class="card-header">Staff Member {{ staff_member.EMPNUM }} </h5>
    <div class="card-body">
        <p class="list-group-item"><strong>Name: </strong>{{ staff_member.NAME }}</p>
        <p class="list-group-item"><strong>Surname: </strong>{{ staff_member.SURNAME }}</p>
        <p class="list-group-item"><strong>Salary: </strong>{{ staff_member.SALARY }}</p>
        <p class="list-group-item"><strong>Type: </strong>{{ staff_member.TYPE }}</p>
        {% if pilot %}
        <p class="list-group-item"><strong>Pilot ID: </strong>{{ pilot.PILOTNUM }}</p>
        {% endif %}
        <h5>Addresses:</h5>
        <ul>
            <table class="table table-hover table-sm">
                <tbody>
                    {% for address in addresses %}
                    <tr>
                        <td>{{ address.ADDRESSDETAILS }}</td>
                        {% if user.is_superuser %}
                        <td><a href="{% url 'delete_staff_address' address.EMPNUM.EMPNUM address.ADDRESSDETAILS %}"
                                class="btn btn-danger">Delete</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if user.is_superuser %}
            <a href="{% url 'add_staff_address' staff_member.EMPNUM %}" class="btn btn-outline-success btn-sm">
                Add Address
            </a>
            {% endif %}
        </ul>

        <h5>Phones:</h5>
        <ul>
            <table class="table table-hover table-sm">
                <tbody>
                    {% for phone in phones %}
                    <tr>
                        <td>{{ phone.PHONE }}</td>
                        {% if user.is_superuser %}
                        <td><a href="{% url 'delete_staff_phone' phone.PHONE %}" class="btn btn-danger">Delete</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if user.is_superuser %}
            <a href="{% url 'add_staff_phone' staff_member.EMPNUM %}" class="btn btn-outline-success btn-sm">
                Add Phone
            </a>
            {% endif %}
        </ul>
        {% if typeratings %}
        <h5>Type Ratings:</h5>
        <table class="table table-hover table-sm">
            <thead class="">
                <tr>
                    <th scope="col">Aircraft</th>
                    <th scope="col">Date Earned</th>
                </tr>
            </thead>
            <tbody>
                {% for typerating in typeratings %}
                <tr>
                    <td>{{ typerating.TYPERATING }}</td>
                    <td>{{ typerating.DATEEARNED }}</td>
                    {% if user.is_superuser %}
                    <td><a href="{% url 'delete_pilot_typerating' typerating.PILOTNUM.PILOTNUM typerating.TYPERATING %}"
                            class="btn btn-danger">Delete</a></td>
                    {% endif %}
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {% if user.is_superuser %}
        <a href="{% url 'add_pilot_typerating' staff_member.EMPNUM %}" class="btn btn-outline-success btn-sm">
            Add Type Rating
        </a>
        {% endif %}
        {% endif %}
        {% if flights %}
        <h5>Associated Flights:</h5>
        <table class="table table-striped table-hover table-bordered border-secondary">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Flight Number</th>
                    <th scope="col">Origin</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Departure Time</th>
                    <th scope="col">Arrival Time</th>
                    <th scope="col">Pilot</th>
                    <th scope="col">Plane ID</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                <tr>
                    <td><a href="{% url 'view_flight' flight.FLIGHTNUM %}">{{ flight.FLIGHTNUM }}</a></td>
                    <td><a
                            href="{% url 'view_city' flight.ORIGINCITYCODE.CITYCODE %}">{{flight.ORIGINCITYCODE.CITYCODE}}</a>
                    </td>
                    <td><a
                            href="{% url 'view_city' flight.DESTCITYCODE.CITYCODE %}">{{flight.DESTCITYCODE.CITYCODE}}</a>
                    </td>
                    <td>{{ flight.DEPTIME }}</td>
                    <td>{{ flight.ARRTIME }}</td>
                    <td><a href="{% url 'view_pilot' flight.PILOTNUM.PILOTNUM %}">{{ flight.PILOTNUM.PILOTNUM }}</a>
                    </td>
                    <td><a href="{% url 'view_plane' flight.PLANENUM.SERIALNUM %}">{{ flight.PLANENUM.SERIALNUM }}</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {% endif %}
        <a href="{% url 'view_staff' %}" class="btn btn-secondary">Back</a>
        {% if user.is_superuser %}
        <a href="{% url 'delete_staff_member' staff_member.EMPNUM %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'update_staff_member' staff_member.EMPNUM %}" class="btn btn-primary">Update</a>
        {% endif %}
    </div>
</div>

{% endblock %}